<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 inputBar">
      <div class="input-group">
        <input onclick="topFun()" (keydown)="keyDownFunction($event, inputTxtID.value)" #inputTxtID type="text" placeholder="&#xf002; Search for GitHub profile by username...">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="topLayerID" class="topLayer {{displayVal}}">
      <img src="https://food-slacking.herokuapp.com/static/images/github.png">
    </div>
    <div class="row resultDiv">
      <div class="col-md-3">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="{{res.avatar_url}}">
          <div class="card-body">
            <h4 class="card-title">{{res.name}}</h4>
            <p class="card-text">{{res.bio}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="fontawsm">&#xf041;</span> {{res.location}}</li>
          </ul>
          <div class="card-body">
            <a href="{{res.blog}}" target="_blank" class="card-link">
              <span class="fontawsm">&#xf0c1;</span> {{res.blog}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Overview</li>
            <li class="breadcrumb-item active" aria-current="page">Repositories
              <span class="badge badge-pill badge-primary">{{res.public_repos}}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Followers
              <span class="badge badge-pill badge-primary">{{res.followers}}</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Following
              <span class="badge badge-pill badge-primary">{{res.following}}</span>
            </li>
          </ol>
        </nav>
        <div class="row">
          <div *ngFor="let repos of resRep" class="col-md-6">
            <div class="card bg-light mb-3">
              <div class="card-body">
                <a href="{{repos.html_url}}" target="_blank" class="card-title">
                  <span style="color:#008975">&#xf1c9;</span> {{repos.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>